<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .authors-btn {
      position: absolute;
      right: 20px;
      background-color: white;
      inset: none;
      color: black;
      font-size: 16px;
      border-radius: 6px;
      padding: 5px;
      border: 1px solid grey;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 2rem;
    }
  </style>
  <body>
    <header
      style="
        height: 12vh;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
      "
    >
      <div class="nav">
        <h1>Inventory Hub</h1>
        <a href="/"
          ><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABRElEQVRIS+3W7REBMRAGYNcBHVwJOnA6oAM60AEqUAId0AEdoAJK0AH7ziQ3e5GvTW4mfy4zGeKSPPmQzVWjQqkq5I5y4EYN+pYy+FR4Q9hBgXv63EnxFJij2hPjUpijH6WOU2YugU10TiDwO2UxHgvb0IeaaZ2Cx8A+VO+xGA/BMWgS7oMlqBh3wSmoCLfBOWg0bsJmcBAHBhbBEM22rNzpi8MLqnQ2Ql+fMLpeUr7gC4cbKl9LwDCnKgrpAfAZIzphK2bG4FBEBHtSxvLqxJdaRzkddJzX4le15jBuI8C+dKKHa1WBw39/YtdxssEv6rCm/FaZDwC/I2Pmk75h22Bsy6on09uMB5jvsW1Zh6XuHEPXcdJHJ3Bsox7zI9Y2cMErqnGM6jZcyRrvfS8CCJ+4OHISLoQ2TPKOQq8+Oai3bTH4B/mSdR9wWbxxAAAAAElFTkSuQmCC"
        /></a>
        <a
          class="authors-btn"
          href="/authors"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
          "
        >
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABvUlEQVRIS+2W4U0DMQyF2w1gAsoGsEGZAJiAsgFMQJkANqAbwAbcBpQJ6AYwAu+TYsm9y8WhV3R/aslKlcR+frbj63QykkxHwp0cgHfN/JkMH6TXtQ5qUz1Pjo+0oo30UbpJQO9aucP+RQ14DfAygeb83WpzJTVg7rzVMI+Ar+TktcDgR2fnibkHP3XZyJpHwIACXhIYw5w6f6SL91qfS0YR8LeMqWlJ1ok1d76ks5p0l4ABBDiSHLBlodc2YkzqSGFJSCmp9YEOBq5pLt5uI72TPqUI2aO7d2aMIc5w2hY6GqawIyt0NazZp6tZBwFjvJDeSOfJYaOVAUJ9PagBEQydPhi45IMzSnKZArS7BAU4a0ei5oINLE8SM3NAGjfSTyns+W3iS9Ob9j5gavWSmERsObfOtru+0QisM79zwDBkYkWDox0QKaWbjb2fep0ubwMDxvT5K6gF4dkV33UbuO/p1KTb7vg5TbkWUmp97J144NoRGQXhQQAFHNn6YnlgOti+LpHz6Nz8zhJj7q9c/bf+7PlOjBxH53yjs+/XDD3jpTb537QP4fk0JUfRANlHEFkfB+B/S23b8Wip/gXzHVcfj6nPMQAAAABJRU5ErkJggg=="
            alt="Authors Icon"
            style="width: 30px; height: 30px; margin-right: 10px"
          />
          <span>Authors</span>
        </a>
      </div>
    </header>
  </body>
</html>
