<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .authors-btn {
      position: absolute;
      right: 20px;
      background-color: white;
      inset: none;
      color: black;
      font-size: 16px;
      border-radius: 6px;
      padding: 5px;
      border: 1px solid grey;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 2rem;
    }

    @media (max-width: 500px) {
      .hub {
        font-size: 1.5rem;
      }
    }
  </style>
  <body>
    <header
      style="
        height: 12vh;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
      "
    >
      <div class="nav">
        <h1 class="hub">Inventory Hub</h1>
        <a href="/"
          ><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABbElEQVRIS+3WgY3CIBQG4LLBjeAIuoFuoBNYNzgnUCfQDawTeBucG5wjOMJtUP/fPAxSaKGQNCaSNKYN5eM94FlVDNTUQG7RG67respJK6UufSbfCwb6DWwv4Ap4FYtHw0BLQb8MLBqPgoGOgf3iMlHtz2LSHgx3oMT/cRG/hqQ9CAY6kkj529aC8U4YKNPK9DLNIe2GThNEzkl4Wyss6BFvz0NEo88V8KQXnIBq7wJ85sO9EQNmpGVkpHZ3L+6ErQKRaBcHRL62B2nAmVHtNQrMC+ypSqkRO/EnLGf1D71cVSkXzmP2KDAmzCNzziV4xlkDPrzAvJH11REv8WiUOJEb3j/JGCwolS4sbceJ1WqaCMcdJ4n+A+usV8a66WfcD6VjWbKmeocNsjURbErebz4wMvBeqfb9LT6rj15TqfHsb7cf7IeFqxa0FRBWMO5Us3azEnGwxmeNVfVosQ/78p1G6/zmcr2U49lg8B28/KkfZ3C74wAAAABJRU5ErkJggg=="
        /></a>
        <a
          class="authors-btn"
          href="/authors"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
          "
        >
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABvUlEQVRIS+2W4U0DMQyF2w1gAsoGsEGZAJiAsgFMQJkANqAbwAbcBpQJ6AYwAu+TYsm9y8WhV3R/aslKlcR+frbj63QykkxHwp0cgHfN/JkMH6TXtQ5qUz1Pjo+0oo30UbpJQO9aucP+RQ14DfAygeb83WpzJTVg7rzVMI+Ar+TktcDgR2fnibkHP3XZyJpHwIACXhIYw5w6f6SL91qfS0YR8LeMqWlJ1ok1d76ks5p0l4ABBDiSHLBlodc2YkzqSGFJSCmp9YEOBq5pLt5uI72TPqUI2aO7d2aMIc5w2hY6GqawIyt0NazZp6tZBwFjvJDeSOfJYaOVAUJ9PagBEQydPhi45IMzSnKZArS7BAU4a0ei5oINLE8SM3NAGjfSTyns+W3iS9Ob9j5gavWSmERsObfOtru+0QisM79zwDBkYkWDox0QKaWbjb2fep0ubwMDxvT5K6gF4dkV33UbuO/p1KTb7vg5TbkWUmp97J144NoRGQXhQQAFHNn6YnlgOti+LpHz6Nz8zhJj7q9c/bf+7PlOjBxH53yjs+/XDD3jpTb537QP4fk0JUfRANlHEFkfB+B/S23b8Wip/gXzHVcfj6nPMQAAAABJRU5ErkJggg=="
            alt="Authors Icon"
            style="width: 30px; height: 30px; margin-right: 10px"
          />
          <span>Authors</span>
        </a>
      </div>
    </header>
  </body>
</html>
